{% extends "layouts/main.njk" %}
{% block content %}
<main>
    <h1>Welcome to the website!!</h1>
    <p>This is a page rendered using Nunjucks.</p>
    <p>supposed to be <code>site.title</code></p>
    <p>{{ site.title }}</p>
    <p>What's up.</p>
</main>
{% endblock %}