<footer>
    <div class="container">
        <hr>
        <div class="flex spread">
            <div class="inline center">
                <small class="inter gray-500 light">&copy; Sam Liebl <span class="tabular-nums" id="yearDisplay"></span>.</small>
            </div>
            <div class="inline center">
                <em><small><a href="colophon.html">Colophon</a></small></em>
            </div>
        </div>
    </div>
</footer>