<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <meta name="author" content="{{site.author}}">
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for link in site.links %}
    <link rel="{{link.rel}}" href="{{link.href}}">
    {% endfor %}
</head>

<body>
    {% block content %}
    {% endblock %}
    {% include "partials/footer.njk" %}
    <!-- test -->
    <!-- Display the current year for the copyright footer -->
    <script src="js/main.js"></script>
    <script type="text/javascript">
    displayCurrentYear();
    </script>
</body>

</html>